@import "../../../styles/mixins/global.scss";

.termsAndConditionSection {
    margin: 60px 0;
    cursor: pointer;

    h1 {
        @include font-20-semibold;
        color: $link-text-color;
        @include pointer;
        padding: 0 0 8px 0;
    }

    span {
        @include heading-18;
        color: $black-2;
        display: block;
        padding: 0 0 25px 0;
    }

    .termsAmdConditionsDetailsAlignment {
        padding: 0 0 20px 0;
        h2 {
            @include font-20-meduim;
            padding: 0 0 8px 0;
            color: $black-1;
        }
        p {
            @include heading-18;
            color: $black-2;
            padding: 0 0 10px 0;

            a {
                color: $link-text-color;
                @include pointer;
            }
        }
    }
}
