@import '../../../../styles/mixins/global.scss';

.pdfToCsvDemoContentAlignment {
    padding: 24px 0 0 0;

    .box {
        background-color: $card-background-white;
        padding: 24px;
        border-radius: 8px;

        h3 {
            @include heading-18;
            color: $black-2;
            margin: 0 0 16px 0;
        }

        ul {
            padding-left: 15px;
            list-style: devanagari;

            li {
                @include heading-12;
                font-weight: 400;
                color: $black-2;
                padding: 0 0 16px 0;
            }
        }

        p {
            @include heading-12;
            font-weight: 400;
            color: $black-2;
            margin: 0 0 16px 0;
        }
    }
}