@import '../../../../styles/mixins/global.scss';

.videoToolsAllContentAlignment {
    padding: 80px 0 0 0;

    @include breakpoint("max-sm") {
        padding: 0 0 30px 0;
    }

    .sectionTitle {
        padding: 0 0 30px 0;

        h4 {
            @include heading-24;
            color: $black-2;

            span {
                color: $link-text-color;
                padding-right: 4px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include breakpoint("max-md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1, 1fr);
        }

        .gridItems:nth-child(2n+ 1) {
            .subGrid {
                .subGridItems {
                    .iconBox {
                        @include purple-background-color;
                        color: $icon-text-color;
                    }
                }
            }
        }

        .gridItems:nth-child(2n+ 2) {
            .subGrid {
                .subGridItems {
                    .iconBox {
                        background-color: $icon-box-v2-background-color;
                        color: $icon-box-v2-text-color;
                    }
                }
            }
        }

        .gridItems:nth-child(2n+ 3) {
            .subGrid {
                .subGridItems {
                    .iconBox {
                        background-color: $icon-box-v3-background-color;
                        color: $icon-box-v3-text-color;
                    }
                }
            }

        }

        .gridItems:nth-child(2n+ 4) {
            .subGrid {
                .subGridItems {
                    .iconBox {
                        background-color: $icon-box-v4-background-color;
                        color: $icon-box-v4-text-color;
                    }
                }
            }
        }

        .gridItems:nth-child(2n+ 5) {
            .subGrid {
                .subGridItems {
                    .iconBox {
                        background-color: $icon-box-v5-background-color;
                        color: $icon-box-v5-text-color;
                    }
                }
            }
        }

        .gridItems:nth-child(2n+ 6) {
            .subGrid {
                .subGridItems {
                    .iconBox {
                        background-color: $icon-box-v6-background-color;
                        color: $icon-box-v6-text-color;
                    }
                }
            }
        }

        .gridItems:nth-child(2n+ 7) {
            .subGrid {
                .subGridItems {
                    .iconBox {
                        background-color: $icon-box-v7-background-color;
                        color: $icon-box-v7-text-color;
                    }
                }
            }
        }

        .gridItems {
            padding: 20px;
            @include card;


            .subGrid {
                display: grid;
                grid-template-columns: 48px 1fr;
                gap: 16px;
                align-items: center;

                .subGridItems {
                    .iconBox {
                        width: 48px;
                        height: 48px;
                        @include flex-center;
                        border-radius: 8px;
                        justify-content: center;
                        @include pointer;
                    }

                    span {
                        @include heading-18;
                        color: $black-2;
                        display: block;
                    }
                }
            }
        }
    }
}