@import '.../../../../../styles/mixins/global.scss';

.headerContainer {
    width: 100%;
    max-width: 100%;
    box-shadow: #474bff13 0px 2px 3px;
    background: rgb(255, 255, 255);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 16px 60px;
    user-select: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;

    @include breakpoint("max-md") {
        padding: 16px 20px;
    }

    .searchBarCenterAlignment {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headerAlignment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include breakpoint("max-md") {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

        }

        @include breakpoint("max-sm") {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

        }

        .mobileMenu {
            display: none;

            @include breakpoint("max-sm") {
                display: block;
            }

            i {
                color: $link-text-color;
            }
        }


        .logo {
            display: flex;
            align-items: center;

            img {
                max-width: 200px;

                @include breakpoint("max-md") {
                    max-width: 120px;
                }
            }

            h1 {
                @include font-20-semibold;
                color: $link-text-color;
                @include pointer;
            }
        }

        .menuSearch {
            @include flex-center;
            justify-content: flex-end;
        }

        :global(.button) {
            padding-left: 40px;
        }

        .menuText {
            @include flex-center;

            @include breakpoint("max-sm") {
                display: none;
            }

            a {
                display: block;
                color: $header-text-color;
                @include pointer;
                padding-right: 40px;
                white-space: nowrap;
            }

            a:last-child {
                padding: 0;
            }
        }

        .searchbar {
            position: relative;
            width: 400px;

            // @media only screen and (max-width:"1199px")  {
            //     display: none;
            // }

            @include breakpoint("max-md") {
                display: none;
            }

            input {
                width: 100%;
                background-color: $searchbar-background-color;
                height: 42px;
                padding: 0 40px;
                border-radius: 8px;
                transition: .3s ease-in-out;
                border: 2px solid $searchbar-border-color;
                @include font-16-medium;
                color: $black-2;
            }

            .searchIconAlignment {
                position: absolute;
                top: 23px;
                transform: translateY(-50%);
                @include flex-center;
                left: 15px;
                opacity: .5;
            }

            ::placeholder {
                @include font-16-medium;
            }
        }

        .menuSearch {}
    }
}

.searchBarCenterAlignment {
    display: flex;
    justify-content: center;
}


.relativMainDiv {
    position: relative;
    margin-right: 40px;

    .categoriseRelativeDiv {
        @include flex-center;
        gap: 6px;
        cursor: pointer;

        a {
            margin: 0;
            padding: 0 !important;
        }

        i {
            font-size: 14px;
            color: #000;
            opacity: .8;
        }
    }

    .dropdownDesign {
        position: absolute;
        transform-origin: center top;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(225, 225, 239);
        box-shadow: rgb(71 75 255 / 8%) 0px 8px 12px;
        border-radius: 8px;
        width: 240px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99999;
        position: absolute;
        max-height: 450px;
        overflow: auto;

        .allMenuAlignment {
            padding: 10px 24px;
            border-bottom: 1px solid rgba(225, 225, 239, 0.25);
            display: flex;
            align-items: center;
            transition: .3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: rgba(241, 242, 251, 0.5);
                transition: .3s ease-in-out;

                div {
                    span {
                        color: #624BD8;

                    }
                }
            }

            div:first-child {
                width: 30px;
            }

            div {
                i {
                    color: #624BD8;
                }

                span {
                    font-size: 16px;
                    color: #000;
                    font-family: $secondary-font-family;
                    font-weight: 400;
                }
            }
        }

    }

    .dropdownDesignOpen {
        transform: translateX(-50%) rotateX(0deg);
        opacity: 1;
        pointer-events: visible;
        transition: .3s ease-in-out;
    }

    .dropdownDesignClose {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-50%) rotateX(90deg);
        transition: .3s ease-in-out;

    }
}

.mobileViewHeader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #fff;

    .mobileViewBodyContentAlignment {
        padding: 20px;



        .mobileViewrelativMainDiv {
            position: relative;

            .mobileViewcategoriseRelativeDiv {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-bottom: 1px solid #d0d0d0;

                a {
                    display: block;
                    padding: 20px 10px;
                    font-size: 18px;
                    line-height: 26px;
                    color: #000;
                    font-weight: 500;
                }

                i {
                    font-size: 14px;
                    color: #000;
                    opacity: .8;
                }
            }

            .mobileViewdropdownDesign {
                // position: absolute;
                transform-origin: center top;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(225, 225, 239);
                box-shadow: rgb(71 75 255 / 8%) 0px 8px 12px;
                border-radius: 8px;
                width: 100%;
                // top: 50px;
                // left: 50%;
                // transform: translateX(-50%);
                z-index: 99999;
                // position: absolute;
                max-height: 450px;
                overflow: auto;

                .mobileViewallMenuAlignment {
                    padding: 10px 24px;
                    border-bottom: 1px solid rgba(225, 225, 239, 0.25);
                    display: flex;
                    align-items: center;
                    transition: .3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(241, 242, 251, 0.5);
                        transition: .3s ease-in-out;

                        div {
                            span {
                                color: #624BD8;

                            }
                        }
                    }

                    div:first-child {
                        width: 30px;
                    }

                    div {
                        i {
                            color: #624BD8;
                        }

                        span {
                            font-size: 16px;
                            color: #000;
                            font-family: $secondary-font-family;
                            font-weight: 400;
                        }
                    }
                }

            }

            .mobileViewdropdownDesignOpen {
                // transform: translateX(-50%) rotateX(0deg);
                display: block;
                pointer-events: visible;
                transition: .3s ease-in-out;
            }

            .mobileViewdropdownDesignClose {
                display: none;
                pointer-events: none;
                transform: translateX(-50%) rotateX(90deg);
                transition: .3s ease-in-out;

            }
        }

    }

    .smallHeaderAlignment {
        padding: 20px;
        border-bottom: 1px solid #d0d0d0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;

            img {
                max-width: 120px;
            }
        }

        div {
            i {
                color: $link-text-color;
                cursor: pointer;
            }
        }
    }
}

.mobileHeaderHidden {
    transform: translateX(100%);
    transition: .3s ease-in-out;
}

.mobileHeaderShow {
    transform: translateX(0%);
    transition: .3s ease-in-out;
}

.userproifleDetailscontent {
    position: relative;

    // &:hover {
        .profiledropdown {
            max-height: calc(100vh - 0px) !important;
            transition: .3s ease-in-out;
        }    
    // }

    .profiledropdown {
        position: absolute;
        right: 0%;
        z-index: 9999;
        width: 160px;
        background-color: #fff;
        border-radius: 4px;
        max-height: 0px;
        overflow: hidden;
        transition: .3s ease-in-out;

        .profiledropdownDesgin {
            border: 1px solid #d0d0d0;
            border-radius: 4px;

            a {
                padding: 10px;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                cursor: pointer;
                text-align: center;
                display: block;
                color: #000;
                border-bottom: 1px solid #d0d0d0;
            }

            a:last-child {
                color: #E2464C;
                padding: 10px !important;
                border-bottom: none !important;
            }
        }
    }

    .profileImage {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: $icon-text-color;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
        line-height: 30px;
    }
}