@import '../../../styles/mixins/global.scss';

.fileUploadBoxDesign {
    width: 100%;
    height: 250px;
    background-color: $card-background-white;
    border: 1px dashed $border-color;
    @include flex-center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    @include pointer;
    gap: 25px;
    margin: 24px 0 0 0;

    @include breakpoint("max-sm") {
        height: auto;
        padding: 40px 0;
        margin: 0 auto;
        width: calc(100% - 40px);
    }

    p {
        @include heading-18;
        color: $black-2;
        text-align: center;
        margin: 16px 0 0 0;
        font-weight: 600;
        opacity: .5;
    }

    :global(.button) {
        button {
            position: relative;
        }

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            top: 0;
            left: 0;
            cursor: pointer;
        }


        span {
            padding-left: 8px;
        }
    }
}
.fileUploadBoxError{
    display: flex;
    justify-content: center;
    color: #9d9191;
}

.warrningText {
    padding: 10px 0 0 0;

    span {
        display: block;
        @include heading-12;
        text-align: right;
        font-style: italic;
        color: $link-text-color;
    }
}

.similarPdFBoxContentAlignment {
    padding: 40px 0 100px 0;

    .title {
        padding: 0 0 20px 0;

        p {
            @include heading-18;
            color: $black-2;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include breakpoint("max-md") {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1, 1fr);
        }

        .gridItems {
            @include card;
            padding: 10px;
            @include pointer;

            .subGrid {
                display: grid;
                grid-template-columns: 48px 1fr;
                gap: 16px;
                align-items: center;

                .subGridItems {
                    .iconBox {
                        width: 48px;
                        height: 48px;
                        @include flex-center;
                        border-radius: 8px;
                        color: $icon-text-color;
                        justify-content: center;
                        @include pointer;
                        @include purple-background-color;
                    }

                    span {
                        @include heading-18;
                        color: $black-2;
                        display: block;
                    }
                }
            }
        }
    }
}