$colors:(
    purple:#8E277B , 
    light-blue:#25B0C4 ,
    light-black:#000619 ,
    gray:#5A596B ,
    light-gray:#5A596B,
    gray-2:#727272, 
    white:#fff,
    light-backrgound:#eff8ff,
    light-purple:#BF58AC,
    border-color:#d0d0d0,
    avtar-color:#f3f3f3,
    pink-color:#f9ecf4,
    purple-2:#B373E7
);

@function color-show($color-name) {
    @return map-get($colors , $color-name);
}

$weights:(
    regular:400, 
    mediua:500,
    bold:600
);

@function weight-show($weights-number) {
    @return map-get($weights , $weights-number);
} 

$size:(
    sm:5px,
    md:10px,
    lg:15px,
    xl:20px
);

@function size-show($size-counter) {
    @return map-get($size , $size-counter);
};

$css-use:(
    flex:flex,
    grid:grid,
    relative:relative,
    absolute:absolute,
    pointer:pointer,
    center:center ,
    hidden:hidden, 
    wfull:100%, 
    fixed:fixed,
);

@function css-style($css-type) {
    @return map-get($css-use , $css-type);
}


