@import "../../../styles/mixins/global.scss";

.signOutModalAlignment {
  .modalWrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    @include flex-center;
    justify-content: center;

    .signInBoxAlignment {
      background: $card-background-white;
      width: 450px;
      max-width: 450px;
      border-radius: 6px;
      box-shadow: 3px 10px 40px rgb(24 29 32 / 5%);
      //   padding: 24px;
      position: relative;
      .headingAlignment {
        padding: 24px 24px 0 24px;
        h1 {
          @include heading-3;
          color: $black-2;
          @include text-center;
        }

        .closeButtonAlignment {
          position: absolute;
          top: 30px;
          right: 24px;

          i {
            font-size: 24px;
            color: $link-text-color;
            @include pointer;
          }
        }
      }

      .formAlignment {
        margin: 30px 0 0 0;
        .formBoxAlignment {
          height: auto;
          max-height: 500px;
          overflow-y: auto;
          padding: 0 24px;
          .inputAlignment {
            padding: 0 0 20px 0;

            &:last-child {
              padding: 0;
            }

            label {
              @include font-14-medium;
              color: #000;
              padding: 0 0 4px 0;
              font-size: 13px;
              line-height: 18px;
              display: block;
              font-weight: 600;
            }

            .relativeInput {
              position: relative;

              input {
                width: 100%;
                height: 45px;
                border: 1px solid #d0d0d0;
                padding: 0 16px;
                @include font-16-medium;
                font-size: 13px;
                line-height: 18px;
                border-radius: 4px;
                overflow: auto;
                background-color: #f8f9fb;
                outline: none;
              }

              .iconAlignment {
                position: absolute;
                top: 10px;
                right: 15px;
                @include pointer;
              }
            }
          }

          .optionAlignment {
            @include flex-center;
            justify-content: space-between;

            .checkboxAlignment {
              display: flex;
              align-items: center;
              gap: 10px;

              input[type="checkbox"] {
                width: 16px;
                height: 16px;
                margin: 0;
                padding: 0;
                @include pointer;
              }

              div {
                display: flex;
                align-items: center;
              }

              span {
                font-size: 14px;
                font-weight: 400;
                color: #000;
                display: block;
              }
            }

            .forgotPasswordAlignment {
              a {
                font-size: 14px;
                font-weight: 400;
                color: #1a8fe3;
                display: block;
              }
            }
          }
        }
        .signInButtonAlignment {
          margin-top: 30px;
          padding: 0 24px;
          button {
            padding: 17px 24px;
            background-color: $primary-button-background-color;
            color: $primary-button-text-color;
            @include font-14-medium;
            border-radius: 7px;
            border: none;
            font-weight: 600;
            letter-spacing: 0.5px;
            @include pointer;
            width: 100%;

            &:hover {
              background-color: #005c9f;
            }

            &:focus {
              outline: none;
            }
          }
        }

        .signUpNotes {
          margin-top: 30px;
          padding: 0 24px 24px 24px;
          p {
            @include flex-center;
            justify-content: center;
            gap: 2px;
            font-size: 14px;
            font-weight: 400;
            color: #000;

            a {
              color: #1a8fe3;
            }
          }
        }
      }
    }
  }
}
