$primary-font-family: 'Poppins', sans-serif;
$secondary-font-family: 'Space Grotesk', sans-serif;

$black-2: #26274b;
$black-1: #181d20;

$border-color: #d0d0d0;

$searchbar-background-color: rgb(241, 242, 251);
$searchbar-border-color: rgba(225, 225, 239, 0.5);

$header-text-color: #000;

$primary-button-background-color: #1566cc;
$primary-button-text-color: #fff;

$light-background-color: rgb(241, 242, 251);
$link-text-color: #1566cc;

$card-background-white: #fff;
$icon-text-color: #1566cc;

$icon-box-v2-background-color: #E3FCFD;
$icon-box-v2-text-color: #10D0D5;

$icon-box-v3-background-color: #E2F0FE;
$icon-box-v3-text-color: #3D99F5;

$icon-box-v4-background-color: #FFEDE0;
$icon-box-v4-text-color: #FF7919;

$icon-box-v5-background-color: #FBE6E5;
$icon-box-v5-text-color: #E24841;

$icon-box-v6-background-color: #FEF9E2;
$icon-box-v6-text-color: #E2C740;

$icon-box-v7-background-color: #FFEDE0;
$icon-box-v7-text-color: #FF7919;

$sidebar-background-color: #fff;
$white-text-color: #fff;